name: Deploy

on:
  push:
    branches:
      - main
      - master

jobs:
  run-unit-test:
      runs-on: self-hosted
    steps:
      - name: Checkout1
        uses: actions/checkout@v3

      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: 11
          distribution: 'adopt'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build with Gradle
        run: ./gradlew --continue build
            #          export CODEARTIFACT_AUTH_TOKEN=`aws codeartifact get-authorization-token --domain startengine --domain-owner 480654006739 --query authorizationToken --output text`
            #          echo ${CODEARTIFACT_AUTH_TOKEN}


      - name: rename artifact
        run: cp build/libs/cicddemo-0.0.1-SNAPSHOT.jar cidemo-{{ github.sha }}.jar

      - name: Save the artifact
        uses: actions/upload-artifact@master
        with:
          name: cidemo
          path: cidemo-{{ github.sha }}.jar

  fake-deploy:
    runs-on: self-hosted
    needs: run-unit-test
    steps:
      - name: GET artifact
        uses: actions/download-artifact@master
        with:
          name: cidemo

      - name: Fake Deploy1
        run: ls cidemo*.jar

